.block-reference-container {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  background-color: #eee;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}
.block-ref-style-wrapper {
  display: flex;
  flex-direction: row;
}
.block-ref-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn-block-remove {
  visibility: hidden;
  border: none;
}
.block-ref-style-wrapper:hover .btn-block-remove {
  visibility: visible;
}
.block-ref-input {
  font-size: 20px;
  margin: 4px;
  border-radius: 4px;
  background-color: #ddd;
}
.fix {
  width: 3em;
}
.char {
  width: 1em;
}
.color {
  width: 10em;
}
