.block-reference-container {
  position: absolute;
  top: 15%;
  left: 50%;
  min-width: 33%;
  transform: translate(-50%);
  background-color: #eee;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 24px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}
.block-ref-style-wrapper {
  display: flex;
  flex-direction: row;
}
.block-ref-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn-block-remove {
  visibility: hidden;
  border: none;
}
.block-ref-style-wrapper:hover .btn-block-remove {
  visibility: visible;
}
.block-ref-input {
  font-size: 20px;
  margin: 4px;
  border-radius: 4px;
  background-color: #ddd;
}
.fix {
  width: 5em;
}
.char {
  width: 2em;
}
.color {
  width: 10em;
}
.btn-add {
  margin-top: 4px;
}
.closeButton {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 2px 4px;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
